html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  /* max-width: 100vw;
    max-height: 100vh; */
  background-color: black;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

#init {
  position: absolute;
  top: -25%;
  margin: 0 28% 0;
  height: 25%;
  width: 30%;
  background-color: rgba(25, 25, 25, 0.95);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#init i {
  text-align: center;
  color: white;
  font-size: 50pt;
}

#init button {
  margin-top: 15%;
  width: 30%;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: white;
  margin: 0;
  font-weight: 300;
  font-size: 50pt;
}

aside {
  float: right;
  margin-top: 2.5%;
  width: 18%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30pt;
}

#gamemode {
  margin-top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gm {
  margin: 5% 0;
}

.gm,
.gm label {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

#options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gridSize,
#alignment {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sizeLabel,
#alignmentLabel {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 1em;
  padding: 15% 0;
}

#game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin-top: 5%;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.333em;
  height: 12.333em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid white;
  border-width: 1px;
  background: black;
}

#score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-top: 4%;
}

.player {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 30pt;
  color: white;
}

.player #symbol_p1 {
  margin-right: 25px;
}

.player #symbol_p2 {
  margin-left: 25px;
}

.subPlayer {
  text-align: center;
  width: auto;
  font-size: 30pt;
  color: white;
}

.player img {
  border: solid 1pt rgba(187, 187, 187, 0.95);
  border-radius: 10%;
  padding: 10px;
}

#draw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  color: white;
  font-size: 30pt;
}

#result {
  position: absolute;
  top: 25%;
  left: 21%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  width: 40%;
  background-color: rgba(25, 25, 25, 0.95);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  -webkit-transition: 1.25s;
  transition: 1.25s;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

#result i {
  text-align: center;
  color: white;
  font-size: 50pt;
  padding: 10%;
}

#popup button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
  width: 30%;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */