html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  /* max-width: 100vw;
    max-height: 100vh; */
  background-color: black;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#init {
  position: absolute;
  top: -25%;
  margin: 0 28% 0;
  height: 25%;
  width: 30%;
  background-color: rgba(25, 25, 25, 0.95);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#init i {
  text-align: center;
  color: #ddd;
  font-size: 50pt;
}

#init button {
  margin-top: 15%;
  width: 30%;
  cursor: pointer;
}

h1 {
  text-align: center;
  background: -webkit-gradient(linear, left top, right top, from(#2bf498), to(#0081ff));
  background: linear-gradient(90deg, #2bf498 0%, #0081ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
  font-size: 50pt;
}

aside {
  float: right;
  margin-top: 2.5%;
  width: 18%;
  height: 100%;
  color: #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 30pt;
}

#gamemode {
  margin-top: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.gm {
  margin: 5% 0;
  display: inline-block;
}

.gm,
.gm label {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.gm input[type=radio] {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  -webkit-box-shadow: inset 0 0 0 1px #9F9F9F;
          box-shadow: inset 0 0 0 1px #9F9F9F;
  -webkit-box-shadow: inset 0 0 0 1.5px #9F9F9F;
          box-shadow: inset 0 0 0 1.5px #9F9F9F;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  -webkit-transition: -webkit-box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  transition: -webkit-box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25), -webkit-box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}

.gm input[type=radio]:focus {
  outline: none;
}

.gm input[type=radio]:checked {
  -webkit-box-shadow: inset 0 0 0 0.25rem #17bfc7;
          box-shadow: inset 0 0 0 0.25rem #17bfc7;
}

#options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#gridSize,
#alignment {
  padding-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sizeLabel,
#alignmentLabel {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 1em;
  padding: 15% 0;
}

#options .slider {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: .25rem;
  outline: none;
  background: -webkit-gradient(linear, right top, left top, from(#2bf498), to(#0081ff));
  background: linear-gradient(-90deg, #2bf498 0%, #0081ff 100%);
  border-radius: .25rem;
}

#options .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 1.5rem;
  background-color: black;
  height: 1.5rem;
  border: 0.25rem solid #17bfc7;
  border-radius: 1rem;
  cursor: pointer;
}

#game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  margin-top: 5%;
}

.square {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12.333em;
  height: 12.333em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid #aaa;
  border-width: 1px;
  background: transparent;
}

#score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 50%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  margin-top: 4%;
}

.player {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  font-size: 30pt;
  color: #ddd;
}

.player #symbol_p1 {
  margin-right: 25px;
}

.player #symbol_p2 {
  margin-left: 25px;
}

.subPlayer {
  text-align: center;
  width: auto;
  font-size: 30pt;
  color: #ddd;
  -webkit-filter: drop-shadow(0 0rem 0.9em #17bfc7);
          filter: drop-shadow(0 0rem 0.9em #17bfc7);
}

.player img {
  border: solid 1pt rgba(187, 187, 187, 0.95);
  border-radius: 10%;
  padding: 10px;
}

#draw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  color: #ddd;
  font-size: 30pt;
}

#result {
  position: absolute;
  top: 25%;
  left: 21%;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 40%;
  width: 40%;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  background-color: rgba(17, 17, 17, 0.85);
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  -webkit-transition: 1.25s;
  transition: 1.25s;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
}

#result i {
  text-align: center;
  color: #ddd;
  font-size: 50pt;
  padding: 10%;
}

#result button {
  background: none;
  border: 2px solid;
  border-radius: 5%;
  line-height: 1;
  margin: 0.5em;
  padding: 0.5em;
  width: 30%;
  color: #ddd;
  font-size: 1.5em;
  cursor: pointer;
}
/*# sourceMappingURL=styles.css.map */